.mainContent {
  height: auto;
  background-color: #121212;
  color: white;
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #2d2d2d;
  left: 250px;
  right: 0;
  flex: 1;
  overflow-y: auto;
}

.navbar {
  flex-shrink: 0; /* Navbar will take its own height */
}

.header {
  flex-shrink: 0; /* Header will take its own height */
}

.chatbox {
  flex-grow: 1; /* Chatbox takes all remaining space */
  display: flex;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 70%; */
  flex-direction: column;
  justify-content: flex-start; /* Start the chat content from the top */
  align-items: stretch; /* Make sure it stretches to fill width */
  /* Allow scrolling when content overflows */
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .mainContent {
    left: 300px;
  }
}

@media (min-width: 769px) and (max-width: 1366px) {
  .chatboxContainer {
    left: 300px; /* Increased padding for better spacing on larger screens */
  }
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 200px;
  }
}
