.mainContent {
  max-height: 100vh; /* Ensures content takes full screen height */
  background-color: #121212;
  color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #2d2d2d;
  left: 250px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto; /* Allow vertical scroll on smaller screens */
}

.navbar,
.header {
  flex-shrink: 0; /* Navbar and Header will take their own height */
}

.chatbox {
  height: calc(
    100vh - 60px - 50px - 100px
  ); /* Adjust based on the header, navbar, and footer heights */
  overflow-y: auto; /* Enable vertical scrolling in the chatbox */
}

/* Laptop screens (medium devices and above) */
@media (max-width: 1024px) {
  .mainContent {
    left: 220px; /* Adjust sidebar width for smaller laptops */
  }
}

/* Tablets and smaller laptops */
@media (max-width: 768px) {
  .mainContent {
    left: 200px; /* Narrow the sidebar further for tablet-sized screens */
  }
}

/* Small screens and mobile devices */
@media (max-width: 600px) {
  .mainContent {
    left: 0; /* Full screen width on mobile */
    right: 0;
  }
}
